<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>228155399055-5p1in4d5579v64fu04sijav3j86g0f3k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.228155399055-5p1in4d5579v64fu04sijav3j86g0f3k</string>
	<key>API_KEY</key>
	<string>AIzaSyB5QjZ80Rzj5Eu-fXiKkVqMqkQxxY6o58E</string>
	<key>GCM_SENDER_ID</key>
	<string>228155399055</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Blank.AI-Syndicate</string>
	<key>PROJECT_ID</key>
	<string>ai-syndicate</string>
	<key>STORAGE_BUCKET</key>
	<string>ai-syndicate.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:228155399055:ios:60b067c651af772c4989fa</string>
</dict>
</plist>